@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@layer utilities {
  .animate-fade-in-out {
    animation: fadeInOut 3s ease-in-out forwards;
  }
}